/*Estilos generales*/
body{
    font-size: 62.5%;
    background-color: rgb(209, 255, 123);   
}
h1{
    text-align: center;
    font-size: 2rem;
}


/*Header*/
.container-logo{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.container,.createBy,.toDoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.inputContainer{
        display: flex;
        gap: 10px;
}
.addButton{
        background-color: #6f6f6d;
        border-radius: 5px;
        padding: 0.6rem;
        margin: 5px;
        width: 3rem;
        font-size: 1.5rem;
        cursor: pointer;
        text-align: center  ;
        display: flex;
}
.table,th,td,tr{
        border: 1px solid black;
        border-collapse: collapse;
}
.table{
    margin-top: 2rem;
    width: 16.5rem;
}
.thead{
        font-size: 1.3rem;
        color:#f03224;
}
.actividades{
        font-size: 1rem;

}
p{
    margin-left: 2rem;
}

.disable{
    text-decoration: line-through;
    color: #6f6f6d;
}
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    animation: scaleAndFade 1s ease-in-out;
    cursor: pointer;
}

@keyframes scaleAndFade {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.3);
        opacity: 0.5;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
    }
